[Unit]
Description=Nachtelijke Sportpaleis website cataloguscontrole

[Timer]
OnCalendar=*-*-* 03:00:00 Europe/Amsterdam
Persistent=true
RandomizedDelaySec=10m
Unit=wbd-sportpaleis-website-sync.service

[Install]
WantedBy=timers.target
